# Connect to MySQL Workbench using the correct credentials.
## Once connected, insert the following code to query the needed table to analyze the female cast ratio against movie ratings and profitability.

In [1]:
import pandas as pd
import sqlite3
import config # this import should contain your connection host name, 
              # user name, and id.

In [ ]:
conn = sqlite3.connect('
                       config.host = 
                       config.user = 
                       config.password =')
c = conn.cursor()

In [4]:


query_name = 'SELECT a.movie_id, actress / tot_actors as f_rep, b.percent_profit, b.vote_average \
FROM \
(SELECT actor_info.movie_id, Count(actor_info.id) as actress \
FROM actor_info\
JOIN actor_details\
USING (name)\
JOIN movie_info\
on movie_info.id = actor_info.movie_id\
WHERE gender = "Female" \
GROUP BY actor_info.movie_id) a, \
(SELECT actor_info.movie_id, \
movie_info.vote_average,   \
Count(actor_info.id) as tot_actors,\
round((revenue / budget)*100, 2) as percent_profit\
FROM actor_info\
JOIN actor_details\
USING (name)\
JOIN movie_info\
on movie_info.id = actor_info.movie_id\
GROUP BY actor_info.movie_id) b\
WHERE a.movie_id = b.movie_id'

In [5]:
query_name

'SELECT a.movie_id, actress / tot_actors as f_rep, b.percent_profit, b.vote_average FROM (SELECT actor_info.movie_id, Count(actor_info.id) as actress FROM actor_infoJOIN actor_detailsUSING (name)JOIN movie_infoon movie_info.id = actor_info.movie_idWHERE gender = "Female" GROUP BY actor_info.movie_id) a, (SELECT actor_info.movie_id, movie_info.vote_average,   Count(actor_info.id) as tot_actors,round((revenue / budget)*100, 2) as percent_profitFROM actor_infoJOIN actor_detailsUSING (name)JOIN movie_infoon movie_info.id = actor_info.movie_idGROUP BY actor_info.movie_id) bWHERE a.movie_id = b.movie_id'

In [ ]:
c.execute(query_name)